<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Knock</display-name>
	<welcome-file-list>
		<welcome-file>Homepage.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>HomeRulesController</description>
		<display-name>HomeRulesController</display-name>
		<servlet-name>HomeRulesController</servlet-name>
		<servlet-class>com.mie.controller.HomeRulesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeRulesController</servlet-name>
		<url-pattern>/HomeRulesController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OCreateAccountController</display-name>
		<servlet-name>OCreateAccountController</servlet-name>
		<servlet-class>com.mie.controller.OCreateAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OCreateAccountController</servlet-name>
		<url-pattern>/OCreateAccountController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OLoginController</display-name>
		<servlet-name>OLoginController</servlet-name>
		<servlet-class>com.mie.controller.OLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OLoginController</servlet-name>
		<url-pattern>/OLoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.mie.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>PreferencesController</display-name>
		<servlet-name>PreferencesController</servlet-name>
		<servlet-class>com.mie.controller.PreferencesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PreferencesController</servlet-name>
		<url-pattern>/PreferencesController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SCreateAccountController</display-name>
		<servlet-name>SCreateAccountController</servlet-name>
		<servlet-class>com.mie.controller.SCreateAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SCreateAccountController</servlet-name>
		<url-pattern>/SCreateAccountController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SLoginController</display-name>
		<servlet-name>SLoginController</servlet-name>
		<servlet-class>com.mie.controller.SLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SLoginController</servlet-name>
		<url-pattern>/SLoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SEditAccountController</display-name>
		<servlet-name>SEditAccountController</servlet-name>
		<servlet-class>com.mie.controller.SEditAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SEditAccountController</servlet-name>
		<url-pattern>/SEditAccountController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>OEditAccountController</display-name>
		<servlet-name>OEditAccountController</servlet-name>
		<servlet-class>com.mie.controller.OEditAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OEditAccountController</servlet-name>
		<url-pattern>/OEditAccountController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditPreferenceController</display-name>
		<servlet-name>EditPreferenceController</servlet-name>
		<servlet-class>com.mie.controller.EditPreferenceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPreferenceController</servlet-name>
		<url-pattern>/EditPreferenceController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditHomeRulesController</display-name>
		<servlet-name>EditHomeRulesController</servlet-name>
		<servlet-class>com.mie.controller.EditHomeRulesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditHomeRulesController</servlet-name>
		<url-pattern>/EditHomeRulesController</url-pattern>
	</servlet-mapping><session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<servlet>
		<display-name>HomeController</display-name>
		<servlet-name>HomeController</servlet-name>
		<servlet-class>com.mie.controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/HomeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditHomeController</display-name>
		<servlet-name>EditHomeController</servlet-name>
		<servlet-class>com.mie.controller.EditHomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditHomeController</servlet-name>
		<url-pattern>/EditHomeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SearchHomeController</display-name>
		<servlet-name>SearchHomeController</servlet-name>
		<servlet-class>com.mie.controller.SearchHomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchHomeController</servlet-name>
		<url-pattern>/SearchHomeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.mie.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>
</web-app>